<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span>
  </div>
  <div id="content">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Justification</th>
          <th>Status</th>
          <th>Total</th>
          <th>User</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchaseRequest of purchaseRequests">
          <td>{{ purchaseRequest.Id }}</td>
          <td>{{ purchaseRequest.Description }}</td>
          <td>{{ purchaseRequest.Justification }}</td>
          <td>{{ purchaseRequest.Status }}</td>
          <td>{{ purchaseRequest.Total | currency }}</td>
          <td>{{ purchaseRequest.User.Lastname }}</td>
          <td>
            <a routerLink="/purchaseRequests/review/{{purchaseRequest.Id}}">Review</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>